/*
TEMPORARILY DISABLING TO ALLOW GRID CSS
@import "bootstrap/grid.large";
*/
.visible-lg {
  display: block !important; }

table.visible-lg {
  display: table; }

tr.visible-lg {
  display: table-row !important; }

th.visible-lg,
td.visible-lg {
  display: table-cell !important; }

.visible-lg-block {
  display: block !important; }

.visible-lg-inline {
  display: inline !important; }

.visible-lg-inline-block {
  display: inline-block !important; }

.hidden-lg {
  display: none !important; }

html, body {
  height: 100%; }

#cop-wrap {
  min-height: 90%;
  display: block; }
  #cop-wrap table[cellspacing="5"] {
    width: 80%;
    margin-right: auto;
    margin-left: auto; }
    #cop-wrap table[cellspacing="5"] .btn, #cop-wrap table[cellspacing="5"] input[type=submit], #cop-wrap table[cellspacing="5"] input[type=button] {
      display: inline-block;
      color: #fff;
      padding: 5px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: normal;
      border: none;
      margin: 0 30px;
      background-color: #006EBC; }
      #cop-wrap table[cellspacing="5"] .btn:hover, #cop-wrap table[cellspacing="5"] input[type=submit]:hover, #cop-wrap table[cellspacing="5"] input[type=button]:hover {
        background-color: #85952a; }
    #cop-wrap table[cellspacing="5"] tbody {
      width: 100%; }
      #cop-wrap table[cellspacing="5"] tbody tr {
        border: none; }
        #cop-wrap table[cellspacing="5"] tbody tr td {
          text-align: center;
          border: none; }

form {
  min-height: 100vh; }

select {
  background-color: #006EBC;
  color: #fff;
  height: 32px;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none; }
  select option {
    background-color: #fff;
    color: #006EBC;
    padding: 5px 10px; }
    select option:hover {
      background-color: #006EBC;
      color: #fff; }

input[type="text"], input[type="password"], input[type="submit"], input[type="button"], select, a.button, textarea, button {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  vertical-align: middle;
  line-height: 20px;
  padding: 5px; }

.pad-top {
  margin: 10px 0 0 !important; }

.center {
  text-align: center !important; }

a {
  outline: 0 !important; }

input[type="button"], input[type="reset"], input[type="submit"] {
  display: inline-block;
  color: #fff;
  padding: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  border: none;
  margin: 0 30px;
  background-color: #006EBC; }
  input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: #85952a; }

dl {
  display: block; }
  dl dt {
    display: block;
    color: #333; }
  dl dd {
    display: block;
    margin: 5px 0; }
    dl dd a[href="faqlinks"] {
      margin-top: 10px; }

.positive {
  color: #49b055 !important; }

.negative {
  color: #db1a1a !important; }

.icon-large {
  font-size: 25px !important; }

.icon-x-large {
  font-size: 35px !important; }

.no-show {
  display: none !important; }

.remsCOP-content .btn {
  margin: 15px 0;
  margin-right: auto;
  margin-left: auto; }
.remsCOP-content .tabs-container {
  width: 80%; }
  .remsCOP-content .tabs-container .nav-tabs > li > a {
    height: 50px;
    padding: 15px 0 !important;
    line-height: normal; }
.remsCOP-content .trending-topics .carousel-wrapper .carousel .topics-box {
  min-height: 320px; }
  .remsCOP-content .trending-topics .carousel-wrapper .carousel .topics-box img {
    height: auto;
    width: auto; }
  .remsCOP-content .trending-topics .carousel-wrapper .carousel .topics-box .btn {
    max-width: 125px; }
.remsCOP-content .community-spotlight .carousel-wrapper .carousel .btn-wrapper {
  bottom: 30px; }
.remsCOP-content .community-spotlight .carousel-wrapper .carousel .spotlight-box .spotlight-text {
  width: 100%;
  min-height: 300px; }
  .remsCOP-content .community-spotlight .carousel-wrapper .carousel .spotlight-box .spotlight-text p {
    text-align: left; }
  .remsCOP-content .community-spotlight .carousel-wrapper .carousel .spotlight-box .spotlight-text .btn {
    max-width: 125px; }

.forumNav .ad {
  width: 80%; }

/*# sourceMappingURL=large.css.map */
