* {
  text-shadow: none !important;
  color: #000 !important;
  background: transparent !important;
  box-shadow: none !important; }

a,
a:visited {
  text-decoration: underline; }

a[href]:after {
  content: " (" attr(href) ")"; }

abbr[title]:after {
  content: " (" attr(title) ")"; }

a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: ""; }

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid; }

thead {
  display: table-header-group; }

tr,
img {
  page-break-inside: avoid; }

img {
  max-width: 100% !important; }

p,
h2,
h3 {
  orphans: 3;
  widows: 3; }

h2,
h3 {
  page-break-after: avoid; }

select {
  background: #fff !important; }

.navbar {
  display: none; }

.table td,
.table th {
  background-color: #fff !important; }

.btn > .caret,
.dropup > .btn > .caret {
  border-top-color: #000 !important; }

.label {
  border: 1px solid #000; }

.table {
  border-collapse: collapse !important; }

.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd !important; }

.visible-print {
  display: block !important; }

table.visible-print {
  display: table; }

tr.visible-print {
  display: table-row !important; }

th.visible-print,
td.visible-print {
  display: table-cell !important; }

.visible-print-block {
  display: block !important; }

.visible-print-inline {
  display: inline !important; }

.visible-print-inline-block {
  display: inline-block !important; }

.hidden-print {
  display: none !important; }

html, body {
  height: 100%; }

#cop-wrap {
  min-height: 90%;
  display: block; }
  #cop-wrap table[cellspacing="5"] {
    width: 80%;
    margin-right: auto;
    margin-left: auto; }
    #cop-wrap table[cellspacing="5"] .btn, #cop-wrap table[cellspacing="5"] input[type=submit], #cop-wrap table[cellspacing="5"] input[type=button] {
      display: inline-block;
      color: #fff;
      padding: 5px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: normal;
      border: none;
      margin: 0 30px;
      background-color: #006EBC; }
      #cop-wrap table[cellspacing="5"] .btn:hover, #cop-wrap table[cellspacing="5"] input[type=submit]:hover, #cop-wrap table[cellspacing="5"] input[type=button]:hover {
        background-color: #85952a; }
    #cop-wrap table[cellspacing="5"] tbody {
      width: 100%; }
      #cop-wrap table[cellspacing="5"] tbody tr {
        border: none; }
        #cop-wrap table[cellspacing="5"] tbody tr td {
          text-align: center;
          border: none; }

form {
  min-height: 100vh; }

select {
  background-color: #006EBC;
  color: #fff;
  height: 32px;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none; }
  select option {
    background-color: #fff;
    color: #006EBC;
    padding: 5px 10px; }
    select option:hover {
      background-color: #006EBC;
      color: #fff; }

input[type="text"], input[type="password"], input[type="submit"], input[type="button"], select, a.button, textarea, button {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  vertical-align: middle;
  line-height: 20px;
  padding: 5px; }

.pad-top {
  margin: 10px 0 0 !important; }

.center {
  text-align: center !important; }

a {
  outline: 0 !important; }

input[type="button"], input[type="reset"], input[type="submit"] {
  display: inline-block;
  color: #fff;
  padding: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  border: none;
  margin: 0 30px;
  background-color: #006EBC; }
  input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: #85952a; }

dl {
  display: block; }
  dl dt {
    display: block;
    color: #333; }
  dl dd {
    display: block;
    margin: 5px 0; }
    dl dd a[href="faqlinks"] {
      margin-top: 10px; }

.positive {
  color: #49b055 !important; }

.negative {
  color: #db1a1a !important; }

.icon-large {
  font-size: 25px !important; }

.icon-x-large {
  font-size: 35px !important; }

.no-show {
  display: none !important; }

/*# sourceMappingURL=print.css.map */
