.lead {
  font-size: 24px; }

.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
.dl-horizontal dd {
  margin-left: 180px; }

.navbar-right .dropdown-menu {
  right: 0;
  left: auto; }
.navbar-right .dropdown-menu-left {
  left: 0;
  right: auto; }

.nav-justified > li {
  display: table-cell;
  width: 1%; }
  .nav-justified > li > a {
    margin-bottom: 0; }

.nav-tabs-justified > li > a {
  border-bottom: 1px solid #ddd;
  border-radius: 4px 4px 0 0; }
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border-bottom-color: #fff; }

.navbar {
  border-radius: 4px; }

.navbar-header {
  float: left; }

.navbar-collapse {
  width: auto;
  border-top: 0;
  box-shadow: none; }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important; }
  .navbar-collapse.in {
    overflow-y: visible; }
  .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0; }

.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin-right: 0;
  margin-left: 0; }

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0; }

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: -15px; }

.navbar-toggle {
  display: none; }

.navbar-nav {
  float: left;
  margin: 0; }
  .navbar-nav > li {
    float: left; }
    .navbar-nav > li > a {
      padding-top: 19px;
      padding-bottom: 19px; }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px; }

.navbar-left {
  float: left !important; }

.navbar-right {
  float: right !important; }

.navbar-form {
  width: auto;
  border: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .navbar-form.navbar-right:last-child {
    margin-right: -15px; }

.navbar-text {
  float: left;
  margin-left: 15px;
  margin-right: 15px; }
  .navbar-text.navbar-right:last-child {
    margin-right: 0; }

@media screen {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px; }
    .container .jumbotron {
      padding-left: 60px;
      padding-right: 60px; }
    .jumbotron h1,
    .jumbotron .h1 {
      font-size: 72px; } }
.modal-dialog {
  width: 600px;
  margin: 30px auto; }

.modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

.modal-sm {
  width: 300px; }

@media only screen {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px; }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -15px; }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -15px; }

  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px; }

  .carousel-indicators {
    bottom: 20px; } }
@media (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; }

  .visible-sm-block {
    display: block !important; }

  .visible-sm-inline {
    display: inline !important; }

  .visible-sm-inline-block {
    display: inline-block !important; }

  .hidden-sm {
    display: none !important; } }
html, body {
  height: 100%; }

#cop-wrap {
  min-height: 90%;
  display: block; }
  #cop-wrap table[cellspacing="5"] {
    width: 80%;
    margin-right: auto;
    margin-left: auto; }
    #cop-wrap table[cellspacing="5"] .btn, #cop-wrap table[cellspacing="5"] input[type=submit], #cop-wrap table[cellspacing="5"] input[type=button] {
      display: inline-block;
      color: #fff;
      padding: 5px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: normal;
      border: none;
      margin: 0 30px;
      background-color: #006EBC; }
      #cop-wrap table[cellspacing="5"] .btn:hover, #cop-wrap table[cellspacing="5"] input[type=submit]:hover, #cop-wrap table[cellspacing="5"] input[type=button]:hover {
        background-color: #85952a; }
    #cop-wrap table[cellspacing="5"] tbody {
      width: 100%; }
      #cop-wrap table[cellspacing="5"] tbody tr {
        border: none; }
        #cop-wrap table[cellspacing="5"] tbody tr td {
          text-align: center;
          border: none; }

form {
  min-height: 100vh; }

select {
  background-color: #006EBC;
  color: #fff;
  height: 32px;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none; }
  select option {
    background-color: #fff;
    color: #006EBC;
    padding: 5px 10px; }
    select option:hover {
      background-color: #006EBC;
      color: #fff; }

input[type="text"], input[type="password"], input[type="submit"], input[type="button"], select, a.button, textarea, button {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  vertical-align: middle;
  line-height: 20px;
  padding: 5px; }

.pad-top {
  margin: 10px 0 0 !important; }

.center {
  text-align: center !important; }

a {
  outline: 0 !important; }

input[type="button"], input[type="reset"], input[type="submit"] {
  display: inline-block;
  color: #fff;
  padding: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  border: none;
  margin: 0 30px;
  background-color: #006EBC; }
  input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: #85952a; }

dl {
  display: block; }
  dl dt {
    display: block;
    color: #333; }
  dl dd {
    display: block;
    margin: 5px 0; }
    dl dd a[href="faqlinks"] {
      margin-top: 10px; }

.positive {
  color: #49b055 !important; }

.negative {
  color: #db1a1a !important; }

.icon-large {
  font-size: 25px !important; }

.icon-x-large {
  font-size: 35px !important; }

.no-show {
  display: none !important; }

header .copNav .ad {
  width: 100%; }

.remsCOP-content .btn {
  margin: 15px 0;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  display: block; }
.remsCOP-content .tabs-container {
  width: 80%; }
  .remsCOP-content .tabs-container .nav-tabs > li > a {
    height: 50px;
    padding: 15px 0 !important;
    line-height: normal; }
.remsCOP-content .trending-topics .carousel-wrapper .carousel .topics-box {
  min-height: 290px; }
  .remsCOP-content .trending-topics .carousel-wrapper .carousel .topics-box img {
    height: auto;
    width: auto; }
  .remsCOP-content .trending-topics .carousel-wrapper .carousel .topics-box .btn {
    max-width: 125px; }
.remsCOP-content .community-spotlight .carousel-wrapper .carousel .btn-wrapper {
  bottom: 30px; }
.remsCOP-content .community-spotlight .carousel-wrapper .carousel .spotlight-box .spotlight-text {
  width: 100%;
  min-height: 400px; }
  .remsCOP-content .community-spotlight .carousel-wrapper .carousel .spotlight-box .spotlight-text p {
    text-align: left; }
  .remsCOP-content .community-spotlight .carousel-wrapper .carousel .spotlight-box .spotlight-text .btn {
    max-width: 125px; }
.remsCOP-content .cop-log-home .btn-wrap ul li .btn {
  max-width: 300px; }
.remsCOP-content .forumContent .ad {
  width: 80%; }
.remsCOP-content .community-huddles ul li .btn {
  margin-right: auto;
  margin-left: auto;
  width: auto; }

.forumNav .ad {
  width: 100%; }

/*# sourceMappingURL=small.css.map */
