﻿<%@ Page Title="" Language="C#" MasterPageFile="~/remsForumMasterPage.master" AutoEventWireup="true" CodeFile="CopMarketingPresentation.aspx.cs" Inherits="COP_CopMarketingPresentation" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentLeftMenu" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentMain" Runat="Server">
    <object width="800" height="600"><param name="movie" value="http://www.smartbuilder.com/smartbuilder-2/e-learning-software-tools/CoP+Marketing+Presentation+Draft/loz00041o000000000003c/tsunamiplayer.swf"></param><param name="base" value="http://www.smartbuilder.com/smartbuilder-2/e-learning-software-tools/CoP+Marketing+Presentation+Draft/loz00041o000000000003c/"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.smartbuilder.com/smartbuilder-2/e-learning-software-tools/CoP+Marketing+Presentation+Draft/loz00041o000000000003c/tsunamiplayer.swf" base="http://www.smartbuilder.com/smartbuilder-2/e-learning-software-tools/CoP+Marketing+Presentation+Draft/loz00041o000000000003c/" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="800" height="600"></embed></object>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentRightMenu" Runat="Server">
</asp:Content>

