.remsCOP-account {
    
    text-align: center;
    
   section {
       display: block;
       width: 100%;
       text-align: left;
       border: none!important;
   }
    
    h2 {
        text-align: center;
        font-family: Marcellus;
        font-size: 25px;
        text-transform: uppercase;
    }
    
    legend {
        color: $header-color;
        font-family: Marcellus;
    }
    
    label {
        
        color: $content-font-color;
        display: inline-block;
        text-align: left;
        width: 200px;
        
        &:before {
            content: "";
            color: #ff0000;
        }
        
    }
    
 table {
     width: 100%;
     display: block;
     border: none!important;
     tbody {
         
         tr {
             border: none!important;
             td {
                 
                 display: inline-block;
             }
             
         }
     }
     
 }
    
    
    ul {
        list-style: none;
        width: 100%;
        display: inline-flex;
        
        li {
            display: inline-block;
            width: auto;
            
        }
    }
    
   
 .btn {
     display: inline-block;
     color: #fff;
     padding: 5px;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: normal;
     border: none;
     margin: 0 15px;
     background-color: $header-color;
     
     
     &:hover {
        background-color: $tag-line-bg-color;
     }
 
 }
    
}

//////////////// TOP HEADER FOR ADMINISTRATOR NAVIGATION ON ADMIN.ASPX

.topheader {
    background-color: $cop-nav-link-color;
    height: 34px;
    font-size: 11px;
    text-transform: capitalize;
    white-space: nowrap;

    ul {
        display: inline-flex;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        position: relative;
        
        li {
            display: inline-block;
            margin: 0 5px;
            padding: 0;
            text-align: center;
            width: 20%;
            
            a  {
               color: #fff;
                text-decoration: none;
                text-align: center;
                display: block;
                margin: 0;
                padding: 0;
                line-height: 34px;
                font-weight: bold;
                
                &:hover {
                 background-color: $tag-line-bg-color;
  
                }
             }
        }
        
    }
    
    
}


.forumContent {

.innercontainer {
   clear: both;
    width: 90% !important;
    margin-right: auto;
    margin-left: auto;
    
   .fa {
      color: $header-color; 
       
   }
    
    .fa-large {
        font-size: 25px;
        text-align: center;
    }
    
     .unread {
        color: #df3549;
        font-weight: bold; 
        margin: 0 10px 0 0;
     }
    
    .utils {
        
        a {
            display: inline-block;
            text-align: left;
            margin: 0 10px 0 0;    
        }
    }
    
  .btn {
     display: inline-block;
     color: #fff;
     padding: 5px;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: normal;
     border: none;
     margin: 0 15px;
     background-color: $header-color;
     
     
     &:hover {
        background-color: $tag-line-bg-color;
     }
 
 } 
    
    
 .tr-header {
     
    border-bottom: 3px solid #006EBC;
    background-color: #fff!important;
    padding: 20px 10px;  
 }
    
  .half-width {
     width: 50%!important; 
      
  }
    
  span.topictools {
      
      span {
          margin: 0 10px 10px 0;
      }
  }
    
  blockquote {
    font-size: 16px!important;
    border-left: 5px solid $header-color!important;
    display: block;
    margin: 15px 0 0 0;
}  
    
    button {
        display: inline-block;
        color: #fff;
        padding: 5px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: normal;
        border: none;
        margin: 0 30px;
        background-color: $header-color;
            
        &:hover {
            
            background-color: $tag-line-bg-color;
        }

    }
    
    table {
 
        width: 100%;
        margin: 0 0 20px;
        border-top: 4px solid #006EBC;
        border-bottom: 4px solid #006EBC;
        color: $content-font-color;
        font-size: 16px;
        
      h2 {
        color: #006EBC;
        font-family: Marcellus;
        font-size: 25px;
        text-transform: uppercase;
    }        
        
        thead {
            border-bottom: 3px solid #006EBC;
            tr {
               
                background-color: #fff;
                th {
                   display: table-cell;
                    padding: 20px 10px;
                    text-align: center;
                    text-transform: capitalize;
                    
                    &:first-child {
                        width: 20%;
                        text-align: left;
                    }
            }
            
        }
        }
        
        tbody {
        
           h2 {
            font-size: 20px;
            padding: 0;
            margin: 0;
               
               a {
                  font-size: 20px!important; 
                   
               }
        }         
    
        tr {
            
            &:nth-child(odd) {
                background-color: #eee;
            }
            
            td {
                display: table-cell;
                padding: 20px 10px;
                text-align: left;
                vertical-align: text-top;              
                
                &:first-child {
                    width: 20%;
                }
                
            }
        }
        } 
    }
    
       
  table#ctl00_ctl00_ContentMain_AspNetForumContentPlaceHolder_gridSettings {
      
      thead {
          
          tr {
              
              th {
                  
                  &:first-child {
                      width: 50%!important;
                  }
              }
          }
      }
      
      tbody {
          
          tr {
              
              td {
                  text-align: center;
                  
                 &:first-child {
                    width: 50%!important;
                     text-align: left;
                 }
              }
          }
          
      }
      
      
      
  }
    
    
   table#ctl00_ctl00_ContentMain_AspNetForumContentPlaceHolder_grdvwlist {
      
      tbody {
          
          tr {
              
              td, th {
                  text-align: center;  
              }

          }
          
      }
           
  }   
    
  
 
    
    table#ctl00_ctl00_ContentMain_AspNetForumContentPlaceHolder_grdvwlist  {
      border: 0!important;
        
      tbody {
          
          tr {
              
              &:nth-child(even) {
                background-color: #eee;
            } 
              
             &:nth-child(odd) {
                background-color: #fff;
            }             
           
              td {
                  text-align: center;
                  
              }
              
              &:first-child {
                  border-top: 3px solid #006EBC; 
                  border-bottom: 3px solid #006EBC;
                  
                  th {
                      padding: 20px 10px;
                  }
              }
              
          }
          
      }
           
  }  
    
 
    
 table#ctl00_ctl00_ContentMain_AspNetForumContentPlaceHolder_gridForumGroups {
     
     tr {
         td {
             text-align: center;
             
             span {
                 display: inline-block;
                 margin: 0 20px;
             }
         }
     }
 }
    
        a {
            font-size: 16px!important;
            
        }  
    
    
    .location {
        
        font-size: 16px!important;
    
    h2 {
        text-align: left;
        text-transform: uppercase ;
        color: $header-color;
        font-size: 16px !important; 
        
        span {
           color: $content-font-color;
            
        }
        
        a {    
            font-size: 16px !important;  
        }
        
    }
        

        
}
    
div.postbutton {
   margin: 0 0 50px; 
}

 span#ctl00_ctl00_ContentMain_AspNetForumContentPlaceHolder_lblDefine, #ctl00_ctl00_ContentMain_AspNetForumContentPlaceHolder_lblAddNew {
     position: relative;
     top: 10px;
 }
    
 span#ctl00_ctl00_ContentMain_AspNetForumContentPlaceHolder_lblEditForumGroups{
  
      border-top: 3px solid #006EBC;
      padding: 20px 0;
     font-weight: bold;
     display: block;
     width: 100%;
 }
  
 input[type="radio"], input[type="checkbox"]{    
    margin-right: 10px;
    
    
}   
 
.usertools {
    display: block;
    text-align: center;
    ul {
        list-style: none;
        li {
            display: block!important;
            margin: 20px 0;
            
            button, input {
                min-width: 570px;
            }
        }
    }
    
}
    
.avatar {
   margin: 10px 0; 
}
    
 .profile-table-container {
     display: inline-block;
     margin: 0 50px 30px 0;
     padding: 0; 
     
 }
   
.smalltoolbar {
    display: block;
    width: 100%;
    margin: 20px 0;  
    span {
        display: inline-block;
        
            a, button, fa {
                display: block;
                margin: 0 10px;
            }
        
    }
}
    
.messageActions {
    display: block;
    
    ul {
        list-style: none;
        
        li {
            display: inline-block;
            margin: 0 10px;
            text-align: left;
            a {
                display: inline-block;
                
            }
        }
    }
}
 
    
.richeditor {
    
    .editbar {
        width: 100%;
        display: block;
        border: none!important;
        background-image: none!important;
        background-color: $cop-nav-bg-color!important;
        -moz-border-radius-topleft: 5px!important;
        -webkit-border-top-left-radius: 5px!important;
         border-top-left-radius: 5px!important;
        -moz-border-radius-topright: 5px!important;
        -webkit-border-top-right-radius: 5px!important;
        border-top-right-radius: 5px!important;
        padding: 10px;
        margin: 0 0 1px;
        
        
     button {
        display: inline-block;
        color: #fff;
        margin: 0 20px;
        height: 35px;
        width: 35px;
         font-weight: bold;
         
         .fa {
             color: #fff!important;
             font-weight: bold;
         }
    }       
        
      
    }
    
    .container {
        width: 100%;
        position: relative;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom: 1px solid $cop-nav-bg-color!important;
        border-right: 1px solid $cop-nav-bg-color!important;
        border-left: 1px solid $cop-nav-bg-color!important;
        margin: 0 0 30px;
        background-color: none!important;
        color: $content-font-color!important;
        
        iframe {
            width: 100%;
            display: block;
            position: relative;
            background-color: none!important;
        }
        
    }
    
    
}
    
}
    
}




///////////////////////////////////////////// START JOIN //////////////////////////////////////////////////////////

.remsCOP-join {
 
    text-align: left;
    padding: 0 0 30px;

  .grid_12 {
      margin: 0;
  }
    
    
    
   section {
       display: table;
       width: 100%;
       text-align: left;
       border: none!important;
       padding: 0 10px;
       margin: 10px 0 20px;
   }
    
    h2 {
        text-align: center;
        font-family: Marcellus;
        font-size: 25px;
        text-transform: uppercase;
    }
    
    h5 {
        text-align: center;
        font-weight: bold;
    }
    
    legend {
        color: $header-color;
        font-family: Marcellus;
    }
    
    label {
        
        color: $content-font-color;
        display: inline-block;
        text-align: left;
        
    }
    
    
     ul {
        list-style: none;
        width: 100%;
        display: inline-flex;
        
        li {
            display: inlie-block;
            width: auto;
            
        }
    }
    
    
    p {
       display: block;
        color: $content-font-color; 
        text-align: left;
    }
    
    input[type="checkbox"], input[type="radio"],input[type="radio"][disabled], {
       display: inline-block;
        margin: 0 15px 0 0;   
    }
    
    input[type="text"],input[type="password"] {
    min-width: 280px;
        
    }
    
 input[type="button"], input[type="reset"], input[type="submit"] {

     display: inline-block;
     color: #fff;
     padding: 5px;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: normal;
     border: none;
     margin: 0 30px;
     background-color: $header-color;
     
     
     &:hover {
        background-color: $tag-line-bg-color;
     }
 
   
     
} 
    textarea {
        min-width: 400px;
        
    }
    
   .question {
       font-weight: bold;
   }
    
    .questionBlock {

         width: 50%;
         margin: 0;
         padding: 0;
         display: block;
         float: left;
 }
    
  .createNew {
      width: 200px;
      
  }
    

    
 .btn {
     display: inline-block;
     color: #fff;
     padding: 5px;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: normal;
     border: none;
     margin: 15px;
     background-color: $header-color;
     
     
     &:hover {
        background-color: $tag-line-bg-color;
     }
 
 }   

 table {
     margin: 0;
     
 }
    
     table#ctl00_ContentMain_RegisterUser_cblInstType {
         width: 100%;
         display: block;
         border: none!important;
         
         tbody {
             display: block;
             width: 100%;
             
             tr {
                 border: none!important;
                 display: inline-block;
                 width: 33%;
                 td {
                     width: 100%;
                     display: block;
                 }
             }
         }

     }
    
    
      table#ctl00_ContentMain_RegisterUser_rblK12Role, table#ctl00_ContentMain_RegisterUser_rblHigherRole {
         width: 100%;
         display: block;
         border: none!important;
         
         tbody {
             display: block;
             tr {
                 border: none!important;
                 display: block;
                 margin: 10px 0;
                 
                 td {
                     width: 100%;
                     display: block;
                     padding: 5px;
                 }
                 &:nth-child(odd) {
                    background-color: #eee;
                    }
                 
             }
         }
          label {
              font-weight: normal;
          }
     }   
    
 
       table#ctl00_ContentMain_RegisterUser_cblInterests {
         width: 100%;
         display: block;
         border: none!important;
         
         tbody {
             display: block;
             tr {
                 border: none!important;
                 display: block;
                 margin: 10px 0;
                 
                 td {
                     width: 50%;
                     display: inline-block;
                     padding: 5px;
                     border: none;
                     
                     
                 }
                 &:nth-child(odd) {
                    background-color: #eee;
                    }
                 
             }
         }
          label {
              font-weight: normal;
          }
     }     
    

    
}

//////////////////////////////////////////// END JOIN ////////////////////////////////////////////////////////////




//////////////////////////////////////////// BEGIN IE 10 SPECIFIC /////////////////////////////////////

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    
.topheader {


    ul {
        display: table;
        
        li {
            display: inline-block;

            width: 10%;
            

        }
        
    }
    
    
}


    
}







//////////////////////////////////////////// END IE 10 SPECIFIC ///////////////////////////////////////



