//////////////////////////////////////////// BEGIN IE 9 SPECIFIC /////////////////////////////////////

.forumNav, .topheader {


    ul {
        display: table;
        
        li {
            display: inline-block;

            width: 10%;

        }
        
    }
 
}


//////////////////////////////////////////// END IE 9 SPECIFIC ///////////////////////////////////////