.remsCOP-account {
    

    
    h2 {

    }
    
    legend {

    }
    
    label {
        display: block;
        text-align: center;
        width: 300px;
    }
    
 .btn {
     display: block;
     margin: 20px 0;
     margin-left: auto;
     margin-right: auto;
     width: 300px;
  
 }
    

}

///////////////////////////////////////////// START JOIN //////////////////////////////////////////////////////////

.remsCOP-join {
 
text-align: center;

  .grid_12 {

  }
    
   .ad {
      width: 100%; 
       
   }
    
   section {

   }
    
    h2 {

    }
    
    h5 {

    }
    
    legend {

    }
    
    label {

        font-size: 14px;
    }
    
    
     ul {

        
        li {

            
        }
    }
    
    
    p {

        margin-left: auto;
        margin-right: auto;
    }
    
    input[type="checkbox"], input[type="radio"],input[type="radio"][disabled], {
    margin: 0 5px 0 0;
    }
    
    input[type="text"],input[type="password"] {
    margin: 0 0 20px;
        
    }
    
 input[type="button"], input[type="reset"], input[type="submit"] {


   
     
} 
    textarea {
       min-width: 280px!important;
        
    }
    
    select {
        margin: 0 0 20px;
    }
    
   .question {
       font-size: 14px;
   }
    
 .questionBlock {
     
     width: 100%;
     float: none;
     margin-left: auto;
     margin-right: auto;
 }
    
  .createNew {

      
  }
    

    
 .btn {

 
 }   

 table {

     
 }
    
    
     table#ctl00_ContentMain_RegisterUser_cblInstType {

         
         tbody {

             
             tr {
                 display: block;
                 width: 100%;
                 td {
                 }
             }
         }

     }
    
    
      table#ctl00_ContentMain_RegisterUser_rblK12Role, table#ctl00_ContentMain_RegisterUser_rblHigherRole {

         
         tbody {

             tr {

                 
                 td {

                 }

                 
             }
         }
          label {

          }
     }   
    
 
       table#ctl00_ContentMain_RegisterUser_cblInterests {

         
         tbody {

             tr {

                 
                 td {
                     width: 100%;
                     display: block;
                     
                   &:nth-child(odd) {
                    background-color: #eee;
                    } 
                     
                 }
                 &:nth-child(odd) {
                    background: none;
                    }
                 
             }
         }
          label {

          }
     }     
    

    
}

//////////////////////////////////////////// END JOIN ////////////////////////////////////////////////////////////