header {

    
    
////////////////////////////   BEGIN TAG LINE BANNER //////////////////////////// 
    
        .tag-line-banner {
            display: block;
            position: relative;
            background-color: $tag-line-bg-color;
            width: 100%;
            margin: 0;
            padding: 5px;
            border-top: 1px solid $tag-line-border-color;
            border-bottom: 1px solid $tag-line-border-color;
            
            .tag-line-wrapper {
                display: table;
                width: 90%;
                margin-top: 10px;
                margin-left: auto;
                margin-right: auto;

            
            h2 {
                color: #fff;
                font-family: Marcellus;
                font-style: italic;
                display: block;
                margin: 9px 0 20px;
                float: left;
            }
            
            p {
                color: $nav-link-color;
                font-size: 14px;
                display: inline-block;
                position: relative;
                text-align: left;
            }
            
            img {
                display: inline-block;
                position: relative;
                padding: 0;
                margin: 0;
                
            }
                
            }
        }
    
////////////////////////////   END TAG LINE BANNER //////////////////////////// 
    
////////////////////////////  BEGIN COP SUB NAVIGATION  ////////////////////////////   
 
    .copNav {
        display: block;
        background-color: $cop-nav-bg-color;
        margin: 0;
        padding: 0;
        width: 100%;
        color: $cop-nav-link-color;
        font-size: 12px;
        height: 40px;
 

        
         ul {
             display: inline-flex;
             list-style: none;
             margin: 0;
             padding: 0;
             width: 100%;
             position: relative;
             
             li {
                 display: inline-block;
                 margin: 0;
                 padding: 0;
                 text-align: center;
                 width: 20%;
                
                 
                 a {
                     color: $cop-nav-link-color;
                     background-color: $cop-nav-bg-color;
                     text-decoration: none;
                     text-align: center;
                     display: block;
                     margin: 0;
                     padding: 0;
                     line-height: 40px;
                     font-weight: bold;
                     
                     
                     &:hover {
                       background-color: $header-color;
                       color: $header-link-hover;  
                     }
                     
                 }
             }
         }
        
      
        .cop-user {
            display: block;
            position: relative;
            color: $cop-nav-link-color;
             line-height: 40px;           
            float: left;
            font-weight: bold;
            
        }
          
}
    
    
         /// Logged In

         .copNav[id='loggedIn'] { 
             
            // display: none;
                                    
             
        }   
    
 //forums
    
    
    
             .copNav[id='forums'] { 
             
            // display: none;
             
              ul {
                  
                  li {
                width: 15%;
                      
                  }
            }
                
             
             
        }  
    
    
    
    
       
////////////////////////////  END COP SUB NAVIGATION  //////////////////////////// 
    
    
////////////////////////////  BEGIN FORUM NAVIGATION  ////////////////////////////     
    
    
.forumNav {
    
        display: block;
        background-color: $forums-nav-bg-color;
        margin: 0;
        padding: 0;
        width: 100%;
        color: #fff;
        font-size: 12px;
        height: 40px;
     
    
    
    ul {
        float: right;
        display: inline-flex;
         list-style: none;
         margin: 0;
         padding: 0;
         width: 45%;
         position: relative;       
        
        
        li {

         display: inline-block;
         margin: 0;
         padding: 0;
         text-align: center;
         width: 20%;           

                  a {
                     color: #fff;
                     background-color: $forums-nav-bg-color;
                     text-decoration: none;
                     text-align: center;
                     display: block;
                     margin: 0;
                     padding: 0;
                     line-height: 40px;
                     font-weight: bold;
                     
                     
                     &:hover {
                       background-color: $header-color;
                       color: $header-link-hover;  
                     }
                     
                 }           
            
            
        }
    }
    
    
}
    
    
//////////////////////////// END FORUM NAVIGATION  ////////////////////////////  

    
    
 ////////////////////////////  BEGIN COMMUNITY FORUM NAVIGATION  //////////////////////////// 
    
    
.community-forum-header {
    
        display: block;
        background-color: $cop-nav-bg-color;
        margin: 0;
        padding: 10px 0;
        width: 100%;
        color:  $cop-nav-link-color;
        font-size: 12px;
        font-weight: bold;
        height: 50px;
  
     .header-container {
         width: 50%;
         display: inline-block;
         margin: 0;
         padding: 0;
    
    h2 {
        text-align: left;
        font-size: 25px;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        
    }
         
     }
    
    span {
        display: inline-block;
        
    }
    
   .counter {
       display: inline-block;
       background-color: $header-color;
       color: #fff;
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       border-radius: 5px;
       font-size: 12px;
       font-weight: bold;
       padding: 2px 8px 1px;

       
   }
    
    .list-container {
        width: 45%;
        display: inline-block;
        margin: 0;
        padding: 0;
    
         ul {
             display: inline-block;
             list-style: none;
             margin: 0;
             padding: 0;
             width: 100%;
             position: relative;
             float: right;
             
             li {
                 display: inline-block;
                 margin: 0;
                 padding: 0;
                 text-align: center;
                 width: 33%;
                
                 
                 a {
                     color: $cop-nav-link-color;
                     background-color: $cop-nav-bg-color;
                     text-decoration: none;
                     text-align: center;
                     display: inline-block;
                     margin: 0;
                     padding: 0;
                     font-weight: bold;
                     
                     
                     &:hover {
                       background-color: $header-color;
                       color: $header-link-hover;  
                     }
                     
                 }
                 
                 img {
                     
                     height: 30px;
                     width: 30px;
                     border: none;
                     padding: 0;
                     margin-right: 10px;
                     display: inline-block;
                 }
                 
                 
             }
         }
    }
    
}
    
 ////////////////////////////  BEGIN COMMUNITY FORUM NAVIGATION  //////////////////////////// 
    
    
    
    
}