$top-breadcrumb-color: #006EBC;
$top-breadcrumb-hover: #85962a;
$top-breadcrumb-bg-color: #fff;
$header-link-color: #efefef;
$header-link-hover: #fff;
$nav-link-color: #fff;
$nav-link-hover: #efefef;
$nav-link-bg-hover: #005990;
$header-color: #006EBC;
$header-border-color: #84B537;
$input-button-hover: #5b9cd6;
$tag-line-bg-color: #85952a;
$tag-line-border-color: #f7c107;
$cop-nav-bg-color: #e9e9e9;
$cop-nav-link-color: #6d6e73;
$content-header-color: #006EBC;
$content-font-color: #333;
$footer-bg-color: #060912;
$tabs-bg-color: #006EBC;
$tabs-bg-hover: #0054A0;
$tabs-bg-active: #85952a;
$community-spotlight-bg-color: #acaca1;
$forums-nav-bg-color: #0054A0;





html, body {
   height: 100%;
}

#cop-wrap {
    min-height: 90%;
    display: block; 
    
 
    
 table[cellspacing="5"] {
     width: 80%;
     margin-right: auto;
     margin-left: auto;
     
    .btn, input[type=submit], input[type=button]{
     display: inline-block;
     color: #fff;
     padding: 5px;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: normal;
     border: none;
     margin: 0 30px;
     background-color: $header-color;
     
     
     &:hover {
        background-color: $tag-line-bg-color;
     }
 
 }    
     
     
     
     tbody {
         width: 100%;
         tr {
             border: none;
                td {
                  text-align: center;  
                    border: none;
                    
    input[name="ctl00$ContentMain$RegisterUser$StartNavigationTemplateContainerID$StartNextButton"] {
        
    }
                }
             
         }
     
     }
          
}

}
    
form {
    
    min-height: 100vh;
}


select {
    background-color: $header-color;
    color: #fff;
    height: 32px;
    padding-left: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    
    option {
       background-color: #fff;
        color: $header-color;
        padding: 5px 10px;
        
        &:hover {
                background-color: $header-color;
                color: #fff;
            
        }
        
    }
}



input[type="text"], input[type="password"], input[type="submit"], input[type="button"], select, a.button, textarea, button {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    vertical-align: middle;
    line-height: 20px;
    padding: 5px;
}

.pad-top {
    margin: 10px 0 0!important;
}

.center {
    text-align: center!important;
}

a {
    outline: 0!important;
}



 input[type="button"], input[type="reset"], input[type="submit"] {

     display: inline-block;
     color: #fff;
     padding: 5px;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: normal;
     border: none;
     margin: 0 30px;
     background-color: $header-color;
     
     
     &:hover {
        background-color: $tag-line-bg-color;
     }
  
} 

dl {
    display: block;
    
    dt {
        display: block;
        color: $content-font-color;
    }
    
    dd {
        display: block;
        margin: 5px 0;
        
        a[href="faqlinks"] {
            margin-top: 10px;
        }
    }

}


.positive {
    color: #49b055!important;
}


.negative {
    color: #db1a1a!important;
}

.icon-large {
    font-size: 25px!important;
}

.icon-x-large {
    font-size: 35px!important;
}

.no-show {
    display: none!important;
}