.remsCOP-content {
    padding:0;
    margin: 0;
    
    
 .row {
   padding: 1em!important;  
     
 }
    
    
 h1 {
     color: $content-header-color;
     font-family: Marcellus;
     font-size: 28px; 
 }
    
 h2 {
      color: $content-header-color;
     font-family: Marcellus;
     font-size: 25px; 
     text-transform: uppercase;
     
 }
    
  h3 {
      color: $content-header-color;
     font-family: Marcellus;
     font-size: 23px; 
     text-transform: uppercase;
     
 }   
    
    
    
 p {
    display: block; 
     text-align: left;
     
 }
    
 section {
    display: block;
     width: 100%;
     color: $content-font-color;
     margin:0;
 }
    
   
    
 .btn {
     display: inline-block;
     color: #fff;
     padding: 5px;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: normal;
     border: none;
     margin: 0 30px;
     background-color: $header-color;
     
     
     &:hover {
        background-color: $tag-line-bg-color;
     }
 
 }
    
    
  .pad-top {
     margin-top: 30px;
 }  
    
    
    .tabs-container {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
           
  
   .nav-tabs {
   
       border-bottom: none!important;
       
   }
            
        .nav-tabs > li {
            width: 25%;
            display: inline-block;
            border: none !important;
            margin: 0;

    }
            
      .nav-tabs > li > a {
        border: none;
        color: #fff;
        background-color: $tabs-bg-color;
        padding: 0!important;
        line-height: 50px;
        border-radius: 0!important;
          
          
          &:hover {
            color: #fff;
            background-color: $tabs-bg-hover;    
              
          }
          
    }  
        
              
     .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-color: $tabs-bg-active;
        cursor: pointer;
    }       
        
   .tab-content {
        border-right: 1px solid $cop-nav-bg-color;
        border-left: 1px solid $cop-nav-bg-color;
        border-bottom: 1px solid $cop-nav-bg-color;
       padding: 30px;
       background-color: $cop-nav-bg-color;
       min-height: 150px;
       
   }
 
    }
    
    
.trending-topics {
    background-color: $cop-nav-bg-color;
    padding-bottom: 30px;
    margin: 0;
    
    p {
        text-align: center;
    }
   
  
.carousel-indicators {
    bottom: -55px !important;
    

    li {

    background-color:  $header-color;
    width: 20px;
    height: 20px;
    border: none;
        margin:0;
        
    }
        
    .active {
        width: 20px;
        height: 20px;
        background-color:  $tag-line-bg-color;
    }
    
    
}
    
.carousel-control {
    
display: none;
    
}   
       
 .carousel-wrapper {
     
     display: block;
     margin-left: auto;
     margin-right: auto;
     
     .carousel {
            
         
         .topics-box {
             display: block;
             background-color:  $tag-line-bg-color;
             height: auto;
             min-height: 270px;
             padding: 10px 30px;
             color: #fff;
             
              h3 {
                 display: block;
                 margin-bottom: 20px;
                 text-align: left;
                  color: #fff;
             }   
             
             img {
                 display: inline-block;
                 float: left;
                 margin: 0;
                 padding: 0;
                 width: 100px;
                 height: 104px;
             }
             
             p {
                 display: inline-block;
                 text-align: left;
                 
             }
             
             .btn {
                float: right; 
                 margin: 0;
                 
                     &:hover {
                         color: $content-font-color;
                        background-color: $tag-line-border-color;
                     }
  
                 
             }
             
             
         }
         
     }
       
 }
    
    
}
    
 
.community-spotlight { 
    background-color: #fffcec;
    padding-bottom: 30px;
    margin: 0;
    
    p {
        text-align: center;
    }
   
  
.carousel-indicators {
    
    display: none;
    bottom: -55px !important;
    
/*
    li {

    background-color:  $header-color;
    width: 20px;
    height: 20px;
    border: none;
        margin:0;
        
    }
        
    .active {
        width: 20px;
        height: 20px;
        background-color: $tag-line-bg-color;
    }
    
 */   
}
    
.carousel-control {
    display: none;
    
}   
       
 .carousel-wrapper {
     
     display: block;
     margin-left: auto;
     margin-right: auto;
     
     .carousel {
         
         .btn-wrapper {
           
             text-align: center;
             font-size: 28px;
             width: 100%;
             display: block;
             position: absolute;
             z-index: 1000;
             bottom: 68px;
             
             
             span {
              display: inline-block;
                 width: 30%;
                 
                 a {
                   color: #fff;
                     text-decoration: none;
                     display: block;
                     cursor: pointer;
                     
                     &:hover {
                         color: $tag-line-bg-color;
                     }
                 }
             }
         }
            
         
         .spotlight-box {
             
             display: block;
             height: auto;
             min-height: 400px;
             width: 100%;
             color: $content-font-color;
             margin: 20px 0 0;
            
             
             
           img {
             display: inline-block;
             margin: 0;
             padding: 0;
             width: 100px;
             height: 100px;
         }           
             
                .spotlight-text {
                    
                    display: block;
                    width: 80%;
                    padding: 10px 50px 30px;
                    background-color: $header-color;
                    color: #fff;
                    margin-left: auto;
                    margin-right: auto;
                    min-height: 250px;
        
             
                      h3 {
                         display: block;
                         margin-bottom: 20px;
                         text-align: center;
                          color: #fff;
                        
                     }   


                     p {
                         display: block;
                         
                     }

                     .btn {
                         margin: 0;
                         background-color: #fff;
                         color: $content-font-color;

                             &:hover {
                                color: $content-font-color;
                                background-color: $tag-line-border-color;
                             }
                     }
             
             
                }
             
             
         }
         
     }
     
     
     
 }
    
    
}
    
    
.cop-log-home {
    
    h2 {
        text-align: left;
    }
    
    .btn-wrap {
       display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        
        
        p {
            text-align: center;
        }
        
        
        ul {
          list-style: none;  
            
            li {
                margin-bottom: 30px;
                display: block;
                
            .btn {
            padding: 5px 20px;
            text-transform: uppercase;
            }
        }
            
        }
        

        
    }
    
    
}
    
 
.forumContent {
    
            
        h2 {
            text-align: left;
        }
    
    
 .header-wrap {
     display: inline-block;
     width: 49%;
     
 }
    
.input-wrap {
       display: inline-block;
     width: 49%;  
    text-align: right;
    
}
        
    
    table {
        
        width: 100%;
        margin: 0 0 20px;
        border-top: 4px solid $header-color;
        border-bottom: 4px solid $header-color;
        
        thead {
            
            
            tr {
                

                border-bottom: 3px solid $header-color;
                
            }
            
        }
        
        tr {
            border-top: none;
        
        th, td {
            
            padding: 10px;
            text-align: left;
            vertical-align: text-top;
            
            &:first-child {
                width: 50%;
            }
            
            &:nth-child(2), &:last-child {
                width: 25%;
            }
    
            
        }
            
            
        }
        
        tbody {
            
            h2 {
                font-size: 20px;
            }
            
            p {
                font-size: 12px;
            }
            
            
            tr {
                
            &:nth-child(odd) {
                background-color: #eee;
            } 
                
            }
            
        }

        
        
    }
    
}
    
   
       
    
    
.community-huddles {
    background-color: $cop-nav-bg-color; 
    padding-bottom: 30px;
    margin: 0;
    
   
.fa-map-marker {
   
    display: block;
    font-size: 50px;
    float: left;
    font-size: 50px;
    color: $header-color;
    margin-top: 20px;
}
    
    .community-btn-wrap {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: -33px;
        
        
        p {
            text-align: center;
            margin-bottom: 30px;
        }
        
    }
    
        ul {
          list-style: none;  
            
            li {
                margin: 0 40px;
                display: inline-block;
                
            .btn {
                text-align: center;
            padding: 5px 20px;
            text-transform: uppercase;
            }
        }
            
        }
}
    
    
    
}