/*! responsive-nav.js 1.0.25 by @viljamis */


/* Mobile-first styling */
.navBar {
  position: relative;
  z-index: 9999;
}

.nav-collapse {
  position: relative;
  display: block;
  float:left;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-collapse.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  z-index:9999;
}

.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
	position: relative;
	display: block;
  list-style: none;
  width: 100%;
  float: left;
}

.nav-collapse ul {
	display: block;
	position: relative;
	float: left;
	width: 100%;
}

.nav-collapse li {
	position: relative;
	display: block;
  float: left;
  width: 100%;
}

.nav-collapse a, .nav-collapse a:link {
	position: relative;
	display: block;
  color: #fff !important;
  text-decoration: none;
  width: 100%;
  background: #006EBC!important;
  padding: 0.7em 1em;
  float: left;
  text-transform: uppercase;
  font-weight: 300;
  border-top: 1px solid #5281C2;
}

.nav-collapse ul ul li {
	position: relative;
	display: block;
	width: 100%;
	text-indent: 2em;
}

.nav-collapse ul ul a {
  background: #1366B7;
  padding-left: 2em;
  text-transform: none !important;
  font-weight:300;
  border-top: 1px solid #0154A0;
  text-align: left;
}

.nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 70px;
  height: 55px;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: #006EBC url("../images/hamburger.gif") no-repeat 50% 33%;
}


/* For larger and landscape oriented phones */

@media screen and (min-width: 640px) {
.nav-collapse {
	margin-top: 55px;
	margin-right:-77px;
  width: 60%;
  float: right;
}
}

@media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .nav-toggle {
    background-image: url("../images/hamburger-retina.gif");
    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px 100px;
    -o-background-size: 100px 100px;
    background-size: 100px 100px;
  }
}

@media screen and (min-width: 960px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
  
.nav-collapse {
	margin-top: 0;
}

.nav-collapse {
	  position: relative;
	  display: block;
	  width: 100%;
	  float: left;
	}

.navBar {
	position: relative;
	display: block;
	width: 100%;
	float: left;
	height: 3em;
	background: #006EBC;
	margin-top: 2em;
	margin-bottom: 3em;
	font-size: 10px;
}

#home .navBar {
	margin-bottom: 0;
}

.nav-collapse ul {
	display: block;
	position: relative;
	float: left;
	width: 100%;
}

  .nav-collapse li {
	  display: block;
    width: 22%;
    *width: 21.9%; /* IE7 Hack */
    _width: 14%; /* IE6 Hack */
  }
  
  .nav-collapse li:first-child {
	  width: 8%;
  }
  
  .nav-collapse li:first-child+li {
	  width: 26%;
  }

  .nav-collapse a {
    margin: 0;
    padding: 1em;
    float: left;
    text-align: center;
    border-bottom: 0;
    border-left: 1px solid #0154A0;
  }
  
  .nav-collapse li:first-child a {
	  border-left: none;
  }

  .nav-collapse li ul, .nav-collapse li ul li {
	  display: block;
	  position: absolute;
	  width: 100%;
	  left: -999999px;
  }
  
  .nav-collapse li:hover ul, .nav-collapse li:hover ul li {
	  display: block;
	  position: relative;
	  width: 100%;
	  left: 0;
  }
  
    .nav-collapse ul ul {
		display: block;
		width: 100%;
		opacity: 0.95;
	}
	
	.nav-collapse a:hover {
		background: #0054A0!important;
		cursor: pointer;
	}
	
#k12 li a.k12,
#IHE .IHE,
#TA .TA,
#About .about {
	background: #0054A0;
}
	
}

@media screen and (min-width: 1024px) {
.navBar {
	height: 3em;
}
}

@media screen and (min-width: 1280px) {
.navBar {
	height: 3em;
	font-size: 12px;
}
}


@media screen and (min-width: 1442px) {

.navBar {
	font-size: 14px;
}
}

@media screen and (min-width: 1500px) {

.navBar {
	margin-top: 0;
}
}