$top-breadcrumb-color: #006EBC;
$top-breadcrumb-hover: #85962a;
$top-breadcrumb-bg-color: #fff;
$header-link-color: #efefef;
$header-link-hover: #fff;
$nav-link-color: #fff;
$nav-link-hover: #efefef;
$nav-link-bg-hover: #005990;
$header-color: #006EBC;
$header-border-color: #84B537;
$input-button-hover: #5b9cd6;
$tag-line-bg-color: #85952a;
$tag-line-border-color: #f7c107;
$cop-nav-bg-color: #e9e9e9;
$cop-nav-link-color: #6d6e73;
$content-header-color: #006EBC;
$content-font-color: #333;
$footer-bg-color: #060912;
$tabs-bg-color: #006EBC;
$tabs-bg-hover: #0054A0;
$tabs-bg-active: #85952a;
$community-spotlight-bg-color: #acaca1;
$forums-nav-bg-color: #0054A0;





html, body {
   height: 100%;
}

#cop-wrap {
    min-height: 90%;
    display: block;  
}


select {
    background-color: $header-color;
    color: #fff;
    height: 32px;
    padding-left: 5px;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
    border: none;
    
    option {
       background-color: #fff;
        color: $header-color;
        padding: 5px 10px;
        
        &:hover {
                background-color: $header-color;
                color: #fff;
            
        }
        
    }
}