.remsCOP-content {

    
    
 .row {

     padding: 0 !important;
 }
    
    
 h1 {

     font-size: 25px; 
 }
    
 h2 {

     font-size: 22px; 

     
 }
    
  h3 {

     font-size: 20px; 

     
 }   
    
    
    
 p {

     
 }
    
 section {

 }
    
  ////////////////////////// FOR ARTICLES ///////////////////////////   
.articleImg {
    float: none;
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
}
    
    
         span[class="fa fa-twitter-square blue"] {

            font-size: 150px;
             float: none;
             margin-right: auto;
            margin-left: auto;            
        } 
    
 ////////////////////////// END FOR ARTICLES ///////////////////////////    
    
 .btn {

  margin: 20px 0;   
     padding: 5px 20px;
     width: 280px;
     display: block;
    margin-right: auto;
    margin-left: auto;
 
 }
    
    
  .pad-top {
   
 }  
    
    
    .tabs-container {
        width: 100%;

           
  
   .nav-tabs {
   
 
       
   }
            
        .nav-tabs > li {


    }
            
      .nav-tabs > li > a {

          font-size: 12px;
        padding: 12px 1px 0 !important;
          line-height: normal;
          min-height: 50px;

          
    }  
        
              
     
        
   .tab-content {

       padding: 20px;
   }
 
    }
    
    
.trending-topics {

     padding-bottom: 60px;
    
    p {
        text-align: left;
    }
   
  
.carousel-indicators {

    

    li {


        
    }
        
    .active {

    }
    
    
}
    
.carousel-control {
    

    
}   
       
 .carousel-wrapper {
     

     
     .carousel {
            
         
         .topics-box {
             min-height: 400px;
             overflow: hidden;
            text-overflow: ellipsis;

              h3 {
                  float: none;
                  text-align: center;
             }   
             
             img {
                 float: none;
                 
             }
             
             p {
                     margin: 15px 0;
                 
             }
             
             .btn {

                 float: none;
                 max-width: 280px;
                 margin-right: auto;
                margin-left: auto; 
                 
             }
             
             
         }
         
     }
       
 }
    
    
}
    
 
.community-spotlight { 

    
    p {

    }
    
    
 a[href^="http"] {


}  
  
.carousel-indicators {
    

}
    
.carousel-control {

    
}   
       
 .carousel-wrapper {

     
     .carousel {
         
         .btn-wrapper {
           

             
             
             span {

                 width: 48%;
                 a {


                 }
             }
         }
         
         
        span[class="fa fa-twitter-square"] {
     
        }
            
         
         .spotlight-box {
             

             
             
           img {
            
         }           
             
                .spotlight-text {
                    
                width: 100%;
                padding: 10px 30px 30px;
                    min-height: 540px;
                        margin: 20px 0;
        
             
                      h3 {

                        
                     }   


                     p {

                        text-align: left; 
                        line-height: 21px;
                         margin: 0;
                     }

                    
                  
           img {
 
               margin-bottom: 20px;
             
         }                 
                     .btn {

                         float: none;
                         margin-top: 20px;
                         max-width: 280px;
                         margin-right: auto;
                         margin-left: auto;
                     }
             
             
                }
             
             
         }
         
     }
     
     
     
 }
    
    
}
    

    
.cop-log-home {
    
    h2 {

    }
    
    .btn-wrap {

        
        
        p {

        }
        
        
        ul {
 
            
            li {

                
            .btn {
                    margin-bottom: 20px;
                width: 280px;
                margin-right: auto;
                margin-left: auto;
            }
        }
            
        }
        

        
    }
    
    
}
    
 
.forumContent {
    
            
        h2 {

        }
    
    
 .header-wrap {

     
 }
    
.input-wrap {
width: 100%;
    
}
        
 
 .btn, select {
     display: block;
     margin-right: auto;
     margin-left: auto;
     max-width: 280px;
 }
    

    
    table {
        

        
        thead {
            
            
            tr {
                

                
            }
            
        }
        
        tr {

        
        th, td {
            

            
            &:first-child {
             
            }
            
            &:nth-child(2), &:last-child {

            }
    
            
        }
           
            
        }
        
        tbody {
            
            h2 {
                font-size: 18px;
            }
            
            p {

            }
            
            
            tr {
                
                td {
                    
                &:first-child {
          
                }
                    
                }
                
            }
            
        }

        
        
    }
    
}
    
   
       
    
    
.community-huddles {

    
   
.fa-map-marker {
   float: none;

}
    
    .community-btn-wrap {

        
        
        p {

        }
        
    }
    
        ul {
 
            
            li {
                display: block;
                margin: 0;
                
            .btn {
                margin-right: auto;
                margin-left: auto;
                width: auto;
            }
        }
            
        }
}
    
    
    
}


////////////////////////////  BEGIN FORUM NAVIGATION  ////////////////////////////     
    
    
.forumNav {
    
font-size: 11px;
  overflow-y: hidden;   
    
    
    ul {
     
      width: 100%;   
        
        li {

        

                  a {

                    line-height: normal; 
                      padding: 10px 0;
                      height: 50px;

                 }           
            
            
        }
    }
    
    
}
    
    
//////////////////////////// END FORUM NAVIGATION  ////////////////////////////  


    
 ////////////////////////////  BEGIN COMMUNITY FORUM NAVIGATION  //////////////////////////// 
    
    
.community-forum-header {
    
    height: 180px;
    
    .container {
        width: 100%;
        padding: 0 5px;
        
    }
  
     .header-container {

         display: block;
         width: 100%;

    
    h2 {

        
    }
        
         
     }
    
    span {

        
    }
    
   .counter {


       
   }
    
    .list-container {

        display: block;
         width: 100%; 
        font-size: 10px;
        padding: 0;

         ul {
             width: 100%;
             display: block;
             top: 50px;
             
             li {
                 text-align: left;
                display: block;
                 margin-bottom: 10px;
                 
                 a {


                     
                 }
                 
                 
                 a.sublink {

                     

                     
                 }
                 
                 img {
                     

                 }
                 
                 
             }
         }
    }
    
}
    
 ////////////////////////////  END COMMUNITY FORUM NAVIGATION  //////////////////////////// 


 //////////////////////////// BEGIN WHATS GOING ON (ACTIVITY)  //////////////////////////// 

.activity {

    
    ul {

        
        li {
            display: block;
            
            span {

            }
        }
    }
    
}



 //////////////////////////// END  WHATS GOING ON (ACTIVITY)  //////////////////////////// 
