.remsCOP-content {
    padding:0;
    margin: 0;
    
    
 .row {
   padding: 1em!important;  
     
 }
    
    
 h1 {
     color: $content-header-color;
     font-family: Marcellus;
     font-size: 28px; 
 }
    
 h2 {
      color: $content-header-color;
     font-family: Marcellus;
     font-size: 25px; 
     text-transform: uppercase;
     
 }
    
  h3 {
      color: $content-header-color;
     font-family: Marcellus;
     font-size: 23px; 
     text-transform: uppercase;
     
 }   
    
    
    
 p {
    display: block; 
     text-align: left;
     
 }
    
 section {
    display: block;
     width: 100%;
     color: $content-font-color;
     margin:0;
 }
    
   
  ul.general, ol.general {
      display: block;
      margin: 20px 0 20px 20px;
      padding: 0;
      
      li {
          text-align: left;
          display: list-item;
          margin-bottom: 20px;
          
      }
      
  }
    
 ////////////////////////// FOR ARTICLES ///////////////////////////   
.articleImg {
    float: left;
    display: block;
    margin: 0 15px 15px;
    max-width: 168px;
    
}
    
    
         span[class="fa fa-twitter-square blue"] {
             color: $header-color;
            font-size: 100px;
             float: left;
             margin: 0 15px 15px;
             display: block;
        } 
    
 ////////////////////////// END FOR ARTICLES ///////////////////////////       
    
 .left {
     text-align: left;
     
 }
    
 .btn {
     display: inline-block;
     color: #fff;
     padding: 5px;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: normal;
     border: none;
     margin: 0 30px;
     background-color: $header-color;
     
     
     &:hover {
        background-color: $tag-line-bg-color;
     }
 
 }
    
    
  .ihe {
      
      color: #fff !important;
      background-color: $tag-line-bg-color !important;
      
      &:hover {
        background-color: $header-color !important;
     }     
      
  }
    
  
   .huddle {
      
        background-color: $tag-line-border-color !important;
        color: #333 !important;

                
      &:hover {
        background-color: $tag-line-bg-color !important;
          color: #fff !important;
     }     
      
  }   
    
    
  .pad-top {
     margin-top: 30px;
 }  
    
    
    .tabs-container {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
           
  
   .nav-tabs {
   
       border-bottom: none!important;
       
   }
            
        .nav-tabs > li {
            width: 25%;
            display: inline-block;
            border: none !important;
            margin: 0;

    }
            
      .nav-tabs > li > a {
        border: none;
        color: #fff;
        background-color: $tabs-bg-color;
        padding: 0!important;
        line-height: 50px;
        border-radius: 0!important;
          
          
          &:hover {
            color: #fff;
            background-color: $tabs-bg-hover;    
              
          }
          
    }  
        
              
     .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-color: $tabs-bg-active;
        cursor: pointer;
    }       
        
   .tab-content {
        border-right: 1px solid $cop-nav-bg-color;
        border-left: 1px solid $cop-nav-bg-color;
        border-bottom: 1px solid $cop-nav-bg-color;
       padding: 30px;
       background-color: $cop-nav-bg-color;
       min-height: 150px;
       
   }
 
    }
    
    
.trending-topics {
    background-color: $cop-nav-bg-color;
    padding-bottom: 30px;
    margin: 0;
    
    p {
        text-align: center;
    }
   
  
.carousel-indicators {
    bottom: -55px !important;
    

    li {

    background-color:  $header-color;
    width: 20px;
    height: 20px;
    border: none;
        margin:0;
        
    }
        
    .active {
        width: 20px;
        height: 20px;
        background-color:  $tag-line-bg-color;
    }
    
    
}
    
.carousel-control {
    
display: none;
    
}   
       
 .carousel-wrapper {
     
     display: block;
     margin-left: auto;
     margin-right: auto;
     
     .carousel {
            
         
         .topics-box {
             display: block;
             background-color:  $tag-line-bg-color;
             height: auto;
             min-height: 270px;
             padding: 10px 30px;
             color: #fff;
             
              h3 {
                 display: block;
                 margin-bottom: 20px;
                 text-align: left;
                  color: #fff;
             }   
             
             img {
                 display: inline-block;
                 float: left;
                 margin: 0;
                 padding: 0;
                 max-width: 100px;
                 background: #fff;
             }
             
             p {
                 display: inline-block;
                 text-align: left;
                 
             }
             
             .btn {
                float: right; 
                 margin: 0;
                 
                     &:hover {
                         color: $content-font-color!important;
                        background-color: $tag-line-border-color!important;
                     }
  
                 
             }
             
             
         }
         
     }
       
 }
    
    
}
    
 
.community-spotlight { 
    background-color: #fffcec;
    padding-bottom: 30px;
    margin: 0;
    
    p {
        text-align: center;
    }
    
    
 a[href^="http"] {
    background: none!important;
    padding: 0!important;
     
     &:hover {
         color: $nav-link-hover; 
     }
}  
  
.carousel-indicators {
    
    display: none;
    bottom: -55px !important;
    
/*
    li {

    background-color:  $header-color;
    width: 20px;
    height: 20px;
    border: none;
        margin:0;
        
    }
        
    .active {
        width: 20px;
        height: 20px;
        background-color: $tag-line-bg-color;
    }
    
 */   
}
    
.carousel-control {
    display: none;
    
}   
       
 .carousel-wrapper {
     
     display: block;
     margin-left: auto;
     margin-right: auto;
     
     .carousel {
         
         .btn-wrapper {
           
             text-align: center;
             font-size: 28px;
             width: 100%;
             display: block;
             position: absolute;
             z-index: 999;
             bottom: 40px;
             
             
             span {
              display: inline-block;
                 width: 25%;
                 
                 a {
                   color: #fff;
                     text-decoration: none;
                     display: block;
                     cursor: pointer;
                     
                     &:hover {
                         color: $tag-line-bg-color;
                     }
                 }
             }
         }
         
         
        span[class="fa fa-twitter-square"] {
             color: #fff;
                 font-size: 100px;       
        }
           
         
         
         .spotlight-box {
             
             display: block;
             height: auto;
             width: 100%;
             color: $content-font-color;
             margin: 20px 0 0;
                         
                .spotlight-text {
                    
                    display: block;
                    width: 80%;
                    padding: 10px 30px 30px;
                    background-color: $header-color;
                    color: #fff;
                    margin-left: auto;
                    margin-right: auto;
                    min-height: 272px;
        
             
                      h3 {
                         display: block;
                         margin-bottom: 20px;
                         text-align: left;
                          color: #fff;
                        
                     } 
                    
                    


                     p {
                         display: block;
                         text-align: left;
                         margin: 0 0 0 20px;
                         
                     }
                    
                    
                        img {
                         display: inline-block;
                         margin: 0;
                         padding: 0;
                         border: 1px solid #fff;
                        max-width: 150px;


                     }                    
                    
                    a {
                        color: $brand-secondary;
                        text-decoration: underline;

                    }

                     .btn {
                         margin: 20px 0 0!important;
                         background-color: #fff!important;
                         color: $content-font-color!important;
                         float: right!important;
                         text-decoration: none!important;
                         border: none!important;
                         z-index: 10000;

                             &:hover {
                                color: #333!important;
                                background-color: $tag-line-border-color!important;
                                 text-decoration: none!important;
                                 border: none!important;
                             }
                     }
             
             
                }
             
             
         }
         
     }
     
     
     
 }
    
    
}
    
    
.cop-log-home {
    
    h2 {
        text-align: left;
    }
    
    .btn-wrap {
       display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        
        
        p {
            text-align: center;
        }
        
        
        ul {
          list-style: none;  
            
            li {
                margin-bottom: 30px;
                display: block;
                
            .btn {
            padding: 5px 20px;
            text-transform: uppercase;
            }
        }
            
        }
        

        
    }
    
    
}
    
 
.forumContent {
    
            
        h2 {
            text-align: left;
        }
    
    
 .header-wrap {
     display: inline-block;
     width: 49%;
     
 }
    
.input-wrap {
       display: inline-block;
     width: 49%;  
    text-align: right;
    
}
    
   .btn {
       padding: 7px;
           margin-right: 20px;
   }
    
    table {
        
        width: 100%;
        margin: 0 0 20px;
        border-top: 4px solid $header-color;
        border-bottom: 4px solid $header-color;
        
        thead {
            
            
            tr {
                

                border-bottom: 3px solid $header-color;
                
            }
            
        }
        
        tr {
            border-top: none;
        
        th, td {
            
            padding: 20px 10px;
            text-align: left;
            vertical-align: text-top;
            
            &:first-child {
                width: 10%;
                text-align: center;
                
                img {
                    margin: 0;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            
       
            
              &:last-child{
                width: 30%;
            }  
            
        }
            
            
        }
        
        tbody {
            
            h2 {
                font-size: 20px;
                padding: 0;
                margin: 0;
            }
            
            p {
                font-size: 12px;
            }
            
            
            tr {
                
            &:nth-child(odd) {
                background-color: #eee;
            } 
                
            }
            
        }

        
        
    }
    
}
  /////////////////////// TABLE ON REGISTRATION PAGE //////////////////////////////////  
       table#ctl00_ContentMain_RegisterUser_rblAccept {
         width: 100%;
         display: block;
         border: none!important;
         margin: 30px 0 0;
         
         tbody {
             display: block;
             width: 100%;
             
             tr {
                 border: none!important;
                 display: block;
                 width: 100%;
                 td {
                     width: 100%;
                     display: block;
                 }
             }
         }

      input[type="checkbox"], input[type="radio"],input[type="radio"][disabled], {
       display: inline-block;
        margin: 0 15px 0 0;   
    }         
           
           
     }   
       
 ////////////////////////END TABLE ON REGISTRATION PAGE /////////////////////////////   
    
.community-huddles {
    background-color: $cop-nav-bg-color; 
    padding-bottom: 30px;
    margin: 0;
    
   
.fa-map-marker {
   
    display: block;
    font-size: 50px;
    float: left;
    font-size: 50px;
    color: $header-color;
    margin-top: 20px;
}
    
    .community-btn-wrap {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: -33px;
        
        
        p {
            text-align: center;
            margin-bottom: 30px;
        }
        
    }
    
        ul {
          list-style: none;  
            
            li {
                margin: 0 40px;
                display: inline-block;
                
            .btn {
                background-color: $tag-line-border-color;
                color: #333;
                text-align: center;
            padding: 5px 20px;
            text-transform: uppercase;
                
      &:hover {
        background-color: $tag-line-bg-color;
          color: #fff;
     }               
                
            }
        }
            
        }
}
    
    
    
}



 ////////////////////////////  BEGIN FORUM NAVIGATION  ////////////////////////////     
    
    
.forumNav {
    
        display: block;
        background-color: $forums-nav-bg-color;
        margin: 0;
        padding: 0;
        width: 100%;
        color: #fff;
        font-size: 12px;
        height: 40px;
     
    
    
    ul {
        float: right;
        display: inline-flex;
         list-style: none;
         margin: 0;
         padding: 0;
         width: 100%;
         position: relative;       
        
        
        li {

         display: inline-block;
         margin: 0 5px;
         padding: 0;
         text-align: center;
         width: 20%;           

                  a {
                     color: #fff;
                     background-color: $forums-nav-bg-color;
                     text-decoration: none;
                     text-align: center;
                     display: block;
                     margin: 0;
                     padding: 0;
                     line-height: 40px;
                     font-weight: bold;
                     
                     
                     &:hover {
                       background-color: $header-color;
                       color: $header-link-hover;  
                     }
                     
                 }           
            
            
        }
    }
    
    
}
    
    
//////////////////////////// END FORUM NAVIGATION  ////////////////////////////  


    
 ////////////////////////////  BEGIN COMMUNITY FORUM NAVIGATION  //////////////////////////// 
    
    
.community-forum-header {
    
        display: block;
        background-color: $cop-nav-bg-color;
        margin: 0;
    padding: 0;
        width: 100%;
        color:  $cop-nav-link-color;
        font-size: 12px;
        font-weight: bold;
        height: 50px;
  
     .header-container {
         width: 20%;
         display: inline;
         margin: 0;
         padding: 0;
    
    h2 {
        text-align: left;
        font-size: 25px;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
         position: absolute;
        top: 11px;
        z-index: 1000;
        
        a {
            text-decoration:underline;
        }
        
    }
        
         
     }
    
    span {
        display: inline-block;
        
    }
    
   .counter {
       display: inline-block;
       background-color: $header-color;
       color: #fff;
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       border-radius: 5px;
       font-size: 12px;
       font-weight: bold;
       padding: 2px 8px 1px;

       
   }
    
    .list-container {
        width: 80%;
        display: inline;
        margin: 0;
        padding: 10px 0;

    
         ul {
             display: block;
             list-style: none;
             margin: 0;
             padding: 0;
             width: 100%;
             position: absolute;
             top: 11px;
             text-align: right;
             
             li {
                 display: inline-block;
                 margin: 0;
                 padding: 0 10px;
                 text-align: center;

                
                 
                 a {
                     color: $cop-nav-link-color;
                     background-color: $cop-nav-bg-color;
                     text-decoration: none;
                     text-align: center;
                     display: inline-block;
                     margin: 0;
                     padding: 0;
                     font-weight: bold;
                     
                     
                     &:hover {
                       background-color: $header-color;
                       color: $header-link-hover;  
                     }
                     
                 }
                 
                 
                 a.sublink {
                     background: none;
                     text-decoration: none;
                     
                     &:hover {
                         color: $header-color;
                         text-decoration: none;
                     }
                     
                 }
                 
                 img {
                     
                     height: 30px;
                     width: 30px;
                     border: none;
                     padding: 0;
                     margin-right: 10px;
                     display: inline-block;
                 }
                 
                 
             }
         }
    }
    
}
    
 ////////////////////////////  END COMMUNITY FORUM NAVIGATION  //////////////////////////// 


 //////////////////////////// BEGIN WHATS GOING ON (ACTIVITY)  //////////////////////////// 

.activity {
   display: block;
    text-align: center;
        background-color: #fffcec;
    padding-bottom: 30px;
    
    ul {
        display: block;
        list-style: none;
        
        li {
            display: inline-block;
            margin: 0 20px;
            color: $content-font-color;
            
            span {
                font-weight: bold;
                margin-right: 10px;
            }
        }
    }
    
}



 //////////////////////////// END  WHATS GOING ON (ACTIVITY)  //////////////////////////// 



///////////////////////////// BEGIN IE 10 SPECIFIC STYLES ///////////////////////////

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    

     
     
.forumNav {
    

       
    ul {
        display: table;
     
        
        
        li {

         display: table-cell;
         width: 16%;           

         
            
            
        }
    }
    
    
}    
     
     
 }
    




///////////////////////////// END IE 10 SPECIFIC STYLES ////////////////////////////






