.remsCOP-content {

    
    
 .row {

     
 }
    
    
 h1 {


 }
    
 h2 {



     
 }
    
  h3 {


     
 }   
    
    
    
 p {

     
 }
    
 section {

 }
    
   
    
 .btn {


 
 }
    
    
  .pad-top {
   
 }  
    
    
    .tabs-container {

            width: 80%;
           
  
   .nav-tabs {
   
 
       
   }
            
        .nav-tabs > li {


    }
            
      .nav-tabs > li > a {

        height: 50px;
        padding: 5px 0 !important;
          line-height: normal;

          
    }  
        
              
     
        
   .tab-content {


   }
 
    }
    
    
.trending-topics {

    
    p {

    }
   
  
.carousel-indicators {

    

    li {


        
    }
        
    .active {

    }
    
    
}
    
.carousel-control {
    

    
}   
       
 .carousel-wrapper {
     

     
     .carousel {
            
         
         .topics-box {


              h3 {

             }   
             
             img {

             }
             
             p {

                 
             }
             
             .btn {


  
                 
             }
             
             
         }
         
     }
       
 }
    
    
}
    
 
.community-spotlight { 

    
    p {

    }
    
    
 a[href^="http"] {


}  
  
.carousel-indicators {
    

}
    
.carousel-control {

    
}   
       
 .carousel-wrapper {

     
     .carousel {
         
         .btn-wrapper {
           

             
             
             span {


                 a {


                 }
             }
         }
         
         
        span[class="fa fa-twitter-square"] {
     
        }
            
         
         .spotlight-box {
             

             
             
           img {

         }           
             
                .spotlight-text {
                    

        
             
                      h3 {

                        
                     }   


                     p {


                     }

                     .btn {


                     }
             
             
                }
             
             
         }
         
     }
     
     
     
 }
    
    
}
    

    
.cop-log-home {
    
    h2 {

    }
    
    .btn-wrap {

        
        
        p {

        }
        
        
        ul {
 
            
            li {

                
            .btn {

            }
        }
            
        }
        

        
    }
    
    
}
    
 
.forumContent {
    
            
        h2 {

        }
    
    
 .header-wrap {

     
 }
    
.input-wrap {

    
}
        
    
    table {
        

        
        thead {
            
            
            tr {
                

                
            }
            
        }
        
        tr {

        
        th, td {
            

            
            &:first-child {

            }
            
            &:nth-child(2), &:last-child {

            }
    
            
        }
            
            
        }
        
        tbody {
            
            h2 {

            }
            
            p {

            }
            
            
            tr {

                
            }
            
        }

        
        
    }
    
}
    
   
       
    
    
.community-huddles {

    
   
.fa-map-marker {
   

}
    
    .community-btn-wrap {

        
        
        p {

        }
        
    }
    
        ul {
 
            
            li {

                
            .btn {

            }
        }
            
        }
}
    
    
    
}