﻿<%@ Page Title="" Language="C#" MasterPageFile="AspNetForumMaster.Master" AutoEventWireup="true" CodeBehind="autologin.aspx.cs" Inherits="aspnetforum.autologin" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderHEAD" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="AspNetForumContentPlaceHolder" runat="server">
</asp:Content>
