<%@ Page language="c#" Codebehind="default.aspx.cs" AutoEventWireup="True" EnableViewState="true" Inherits="aspnetforum.forums" MasterPageFile="AspNetForumMaster.Master" %>
<%@ Register TagPrefix="cc" TagName="RecentPosts" Src="recentposts.ascx" %>


<asp:Content ContentPlaceHolderID="AspNetForumContentPlaceHolder" ID="AspNetForumContent" runat="server">
<p style="padding-top:120px;">
    <span><asp:Button ID="btnAddnewForum" runat="server" Text="Add a forum" 
        onclick="btnAddnewForum_Click" /></span>
     <span style="padding-left:780px;">
        <asp:DropDownList ID="ddlForumCat" runat="server" EnableViewState="true"
        AppendDataBoundItems="True" AutoPostBack="true"
        
        DataSourceID="SqlDataSource1" DataTextField="GroupName" 
        DataValueField="GroupID" 
        onselectedindexchanged="ddlForumCat_SelectedIndexChanged">
        <asp:ListItem Value="0">Select one</asp:ListItem>
    </asp:DropDownList>
    <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
        ConnectionString="<%$ ConnectionStrings:REMSforumConnectionString %>" 
        SelectCommand="SELECT [GroupID], [GroupName], [UserID] FROM [vwForumGroupbyUser] WHERE ([UserID] = @UserID)">
        <SelectParameters>
            <asp:ControlParameter ControlID="hfUserID" Name="UserID" PropertyName="Value" 
                Type="Int32" />
        </SelectParameters>
    </asp:SqlDataSource>
    </span>
</p>
    <asp:HiddenField ID="hfUserID" runat="server" />
	<asp:Repeater ID="rptGroupsList" Runat="server" EnableViewState="False" OnItemDataBound="rptGroupsList_ItemDataBound">
		<ItemTemplate>
			<table >
				<tr><th colspan="2"><h2><%# Eval("GroupName") %></h2></th><th><%= aspnetforum.Resources.various.Threads %></th><th><%= aspnetforum.Resources.various.LatestPost %></th></tr>
				<tbody>
			<asp:repeater id="rptForumsList" runat="server" EnableViewState="False">
				<ItemTemplate>
					<tr <%# Container.ItemType == ListItemType.AlternatingItem ? " class='altItem'" : "" %> >
						<td align="center" style="width:10%;border-right:none;"><img alt="" src="<%# GetForumIcon(Eval("IconFile")) %>" height="32" width="32" /></td>
						<td style="width:55%;border-left:none;padding-left: 0;"><h2>
							<a href='<%# aspnetforum.Utils.Various.GetForumURL(Eval("ForumID"), Eval("Title")) %>'><%# Eval("Title") %></a>
							</h2>
							<span><%# Eval("Description") %></span>
						</td>
						<td width="50" class="gray2" style="text-align: center">
							<%# Eval("TopicCount") %></td>
						<td>
							<%# aspnetforum.Utils.Topic.GetTopicInfoBMessageyID(Eval("LatestMessageID"), Cmd)%></td>
					</tr>
				</ItemTemplate>
			</asp:repeater>
			</table>
		</ItemTemplate>
		<FooterTemplate></tbody></FooterTemplate>
	</asp:Repeater>
	<div ID="lblNoForums" style="margin-top:20px;" runat="server" visible="false" enableviewstate="false"><%= aspnetforum.Resources.various.NoForums %></div>
	<div id="divNoForumsAdmin" style="margin-top:20px;" runat="server" visible="false">No forums have been created yet. Please go to the <a href="admin.aspx">administrator panel</a>.</div>

	<table style="width:100%;" cellpadding="11" cellspacing="0" class="roundedborder">
		<tr><th><h2><%= aspnetforum.Resources.various.WhatsGoingOn %></h2></th></tr>
		<tbody>
	<tr>
		<td>
			<span ><%= aspnetforum.Resources.various.UsersOnline %></span>
			<%= aspnetforum.Utils.User.OnlineUsersCount %>&nbsp;&nbsp;
			<span ><%= aspnetforum.Resources.various.Members %></span>
			<%= aspnetforum.Utils.User.OnlineRegisteredUsersCount %>&nbsp;&nbsp;
			<span ><%= aspnetforum.Resources.various.Guests %></span>
			<%= aspnetforum.Utils.User.OnlineUsersCount-aspnetforum.Utils.User.OnlineRegisteredUsersCount%>
			<br /><br />
			<span ><%= aspnetforum.Resources.various.Threads %></span>
			<%= aspnetforum.Utils.Various.GetStats().ThreadCount %>&nbsp;&nbsp;
			<span ><%= aspnetforum.Resources.various.Posts %></span>
			<%= aspnetforum.Utils.Various.GetStats().PostCount %>&nbsp;&nbsp;
			<span ><%= aspnetforum.Resources.various.Members %></span>
			<%= aspnetforum.Utils.Various.GetStats().MemberCount %>
		</td>
	</tr>
			</tbody>
	</table>

	<div id="divRecent" runat="server" enableviewstate="false" visible="false">
	<br />
	<cc:RecentPosts id="recentPosts" runat="server"></cc:RecentPosts>
	</div>
</asp:Content>