<%@ Page language="c#" Codebehind="premoderatedmessage.aspx.cs" AutoEventWireup="True" Inherits="aspnetforum.premoderatedmessage" MasterPageFile="AspNetForumMaster.Master" %>
<asp:Content ContentPlaceHolderID="AspNetForumContentPlaceHolder" ID="AspNetForumContent" runat="server">
	<p>
        Thank you for posting your message. The forum you have posted your message on 
        is <b>pre-moderated</b>. This means that posting must be approved by 
        a moderator before it is visible to everyone.
	</p>
</asp:Content>